.header {
  background: #2B4F81;
}

.header-title {
  margin: 0 0;
  padding: 0.5em 0 0.25em 0.25em;
  font-size: 2em;
  font-weight: 300;
  color: #fff;
}

.header .header-text-left {
  margin: 0 0;
  padding: 0.5em 0 0.25em 1em;
  font-size: 1em;
  color: #fff;
  float: left;
}

.header .header-text-right {
  margin: 0 0;
  padding: 0.5em 1em 0.25em 0.25em;
  font-size: 1em;
  color: #fff;
  float: right;
}

.clearfix {
  clear: both;
}

@media screen and (min-width: 44.44em) {
  .header-title {
    font-size: 2em;
  }
}

@media screen and (min-width: 50em) {
  .header-title {
    font-size: 2.5em;
  }
}